<%= form_for(@battle) do |f| %>
  <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

      <ul>
      <% @battle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :winner_id %><br />
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :loser_id %><br />
    <%= f.number_field :loser_id %>
  </div>
  <div class="field">
    <%= f.label :voter %><br />
    <%= f.text_field :voter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
