<h1>Listing battles</h1>

<table>
  <tr>
    <th>Winner</th>
    <th>Loser</th>
    <th>Voter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @battles.each do |battle| %>
  <tr>
    <td><%= battle.winner.uname %></td>
    <td><%= battle.loser.uname %></td>
    <td><code><%= battle.voter %></code></td>
    <td><%= link_to 'Show', battle %></td>
    <td><%= link_to 'Edit', edit_battle_path(battle) %></td>
    <td><%= link_to 'Destroy', battle, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Battle', new_battle_path, :class => 'btn' %>
