<h2>Who has more personal appeal?</h2>

<div class="row">  
  <div class="span12" align="center">
    <br/>
    <%= render :partial => 'bannerform', :locals => { :winner => @contenders[0], :loser => @contenders[1] } %>

    <br/>
    <h3>OR</h3>
    <br/>
    
    <%= render :partial => 'bannerform', :locals => { :winner => @contenders[1], :loser => @contenders[0] } %>
    
    <p><span class="label success">Click to cast your vote!</span></p>
  </div>
  
  <div class="span4">
    
    <% if !flash[:last_battle_id].nil? %>
      
      <div class="alert-message block-message warning">
        <p><strong>sidenote</strong> with results of your last vote</p>
        <ul>
          <li>winner: <%= @last_winner.uname  %>, <%= @last_winner.wins %> wins (<%= number_to_percentage @last_winner.ratio * 100, :precision => 0 %>)</li>
          <li>loser: <%=  @last_loser.uname %>, <%= @last_loser.wins %> wins (<%= number_to_percentage @last_loser.ratio * 100, :precision => 0 %>)</li>
        </ul>
        <div class="alert-actions">
          <a class="btn small" href="#">Do something</a>
        </div>
      </div>
    <% end %>
    
  </div>
  
</div>


<!-- <%= link_to 'Back', battles_path %> -->
