<!DOCTYPE html>
<html>
<head>
  <title>Personal Appeal</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1 style="color: navy;">Personal Appeals <small>Hot or Not of the Wikipedia solicitors</small></h1>
  </div>
  
  <ul class="tabs">
    <li <%= controller.controller_name == 'battles' ? "class='active'" : "" -%>><%= link_to "Vote", new_battle_path %></li>
    <li <%= controller.controller_name == 'contenders' ? "class='active'" : "" -%>><%= link_to "Rankings", contenders_path %></li>
  </ul>

  <%= yield %>

</div>
<footer>
  <div class="container">
    <p class="pull-right">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mroth">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    </p>
    <p>Designed and built by <a href="https://twitter.com/mroth">@mroth</a></p>
    <p>Wikipedia is a great service and the folks in the Wikimedia Foundation are not just good-looking, but also hard-working and awesome.  If you enjoy this parody, you should probably <a href="http://wikimediafoundation.org/wiki/Fundraising">donate to Wikipedia</a>.
  </div>
</footer>

</body>
</html>
