<!DOCTYPE html>
<html>
<head>
  <title>Personal Appeals</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1 style="color: navy;">Personal Appeals <small>Hot or Not of the Wikipedia solicitors</small></h1>
  </div>
  
  <ul class="tabs">
    <li <%= controller.controller_name == 'battles' ? "class='active'" : "" -%>><%= link_to "Vote", new_battle_path %></li>
    <li <%= controller.controller_name == 'contenders' ? "class='active'" : "" -%>><%= link_to "Rankings", contenders_path %></li>
  </ul>

  <%= yield %>

</div>
<footer>
  <div class="container">
    <p class="pull-right">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mroth">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    </p>
    <p>Designed and built by <a href="https://twitter.com/mroth">@mroth</a></p>
    <p>Wikipedia is a great service and the folks in the Wikimedia Foundation are not just good-looking, but also hard-working and awesome.  If you enjoy this parody, you should probably <a href="http://wikimediafoundation.org/wiki/Fundraising">donate to Wikipedia</a>.
      
    <div>
      <p class="pull-left"> 
        <%= image_tag "truckerhat_sm.jpg", :width => 75 %>
      </p>
      <p>
        <span class="label notice">New!</span> Now available super fun Personal Appeals apparel!  Order now!
      </p>
    </div>
  </div>

</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-52956-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
